{% extends "dashboard/_base.html" %}

{% block pagetitle %}Submit Data{% endblock %}

{% block pageheader %}Submit Data to Process{% endblock %}

{% block pagedescription %}Upload a CSV file or copy CSV data into the form below for processing{% endblock %}

{% block content %}
<p></p>
{% block dataform %}
<form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    {% block formfields %}
    <table>
    {{ form.as_table }}
    </table>
    {% endblock %}
    <button type="submit">Submit</button>
</form>
{% endblock %}

{% endblock %}

